/* See https://www.reddit.com/r/FirefoxCSS for lots of examples of rules that
 * can be placed in this file.
 *
 * For debugging the rules and figuring them out for yourself, use the following procedure. (This was taken from https://www.reddit.com/r/FirefoxCSS/comments/73dvty/tutorial_how_to_create_and_livedebug_userchromecss/ and later updated based on changes in Firefox.)
 *
 * - Open Developer Tools and go to Settings.
 * - Select "Enable browser chrome and add-on debugging toolboxes" and "Enable remote debugging".
 * - Open the Browser Toolbox (browser window > Tools > Browser Tools > Browser Toolbox) and allow the remote debugging session. Note that the Browser Toolbox isn't available until you've selected the two settings in Developer Tools mentioned in the previous step.
 * - Open userChrome.css in the Style Editor. You can edit this file and see the
 *   changes applied immediately in the browser.
 * - Use the Inspector to see all browser chrome's DOM. This will inform the
 *   rules to add to userChrome.css.
 * - There's a setting to disable auto-hiding of popup elements. Using this will
 *   make it easier to find popup elements like the URL bar dropdown window in
 *   the DOM. The setting can be found in the three-dots menu in the upper right
 *   of the Browser Toolbox.
 */



/**************************************************
 * Bookmarks menu
 */

#organizeBookmarksSeparator,
#subscribeToPageMenuitem,
#menu_bookmarkAllTabs,
#bookmarksToolbarFolderMenu,
#bookmarksToolbarSeparator,
#menu_recentBookmarks,
#menu_unsortedBookmarks
{
    display: none !important;
}


/**************************************************
 * Tab bar
 */

/* Starting with version 89, the active tab looks like a button instead of a
 * tab. Make it look like a tab again. (The original border-radius was 4px all
 * around, and the original margin-block was 4px top and bottom.)
 */
.tab-background {
	border-radius: 4px 4px 0 0 !important;
	margin-block: 4px 0 !important;
}


/**************************************************
 * Search bar
 */

/* Hide the search engine dropdown button that appears on the left end of the
 * text field. The button provided padding for the text field, so after removing
 * the button we need to add some padding back.
 */
#search-container .searchmode-switcher {
    display: none !important;
}
#search-container .urlbar-input {
    padding-left: 0.375rem !important;
}

/* Hide the right arrow that appears on the right end of the text field. You can
 * click this arrow to initiate the search, so it has the same effect as pressing
 * Enter.
 */
#search-container .urlbar-go-button {
    display: none !important;
}

/* Hide the placeholder text ("Search", for example).
 */
#search-container .urlbar-input::placeholder {
    color: transparent !important;
}

/* Make the background white again. They changed it to light gray sometime
 * around version 122.
 */
#search-container .urlbar-background {
    background-color: rgb(255, 255, 255) !important;
}

/* Add a border to make it stand out a little better in my theme.
 */
#search-container .urlbar-background {
    border: solid 1px rgb(224, 224, 224) !important;
}

/* Remove the box shadow that appears when it's focused.
 */
#search-container .urlbar-background {
    box-shadow: none !important;
}

/* Remove the blue outline that appears when it's focused. I find it more
 * distracting than helpful.
 */
#search-container .urlbar-background {
    outline: none !important;
}

/* Disable the ridiculous behavior where the search bar expands when it's
 * focused.
 *
 * These rules were copied from the URL bar section and edited to apply to the
 * search bar.
 *
 * Valid starting in version 152
 */

#search-container .urlbar[breakout][breakout-extend] {
    top: auto !important;
    width: var(--urlbar-width) !important;
    margin: 0 !important;
}
#search-container .urlbar[breakout][breakout-extend] > .urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: var(--urlbar-container-padding) !important;
}
#search-container .urlbar[breakout][breakout-extend] > .urlbar-background {
    animation-name: none !important;
}

/**************************************************
 * URL bar
 *   AKA address bar, omni bar, awesome bar, mega bar
 */

/* Hide the search engine dropdown button that appears on the left when the
 * text field is empty. The button provided padding for the text field, so
 * after removing the button we need to add some padding back.
 */
#urlbar-container .searchmode-switcher {
    display: none !important;
}
#urlbar-container .urlbar-input {
    padding-left: 0.375rem !important;
}

/* Hide the right arrow that appears on the right end of the text field. You can
 * click this arrow to load the URL, so it has the same effect as pressing
 * Enter.
 */
#urlbar-container .urlbar-go-button {
    display: none !important;
}

/* Hide the entire set of buttons that appear at the end of the URL. Note that
 * the "Go" icon doesn't appear within this container, so it needs to be hidden
 * separately, which is done above. If a button comes along that you want to
 * show, remove this rule and keep the rule below that hides buttons
 * individually.
 */
#page-action-buttons {
    display: none !important;
}

/* Hide individual buttons that appear at the end of the URL. These have no
 * effect as long as we're hiding the entire set of buttons above. Also, I've
 * disabled the feature associated with some of these buttons in Settings, so
 * they also wouldn't show up for that reason.
 */
#contextual-feature-recommendation,
#userContext-icons, /* I think these come from extensions */
#reader-mode-button, /* notepad icon to enable Reader mode */
#picture-in-picture-button, /* icons to enable Picture-In-Picture mode on pages with video */
#taskbar-tabs-button, /* related to pinning a tab to the desktop's taskbar */
#translations-button, /* translate pages that are in a foreign language */
#split-view-button, /* icon that appears in Split View mode to manage the split tabs */
#pageActionButton, /* "three dots" icon to show menu with more actions */
#star-button-box, /* star icon to bookmark the current page */
#urlbar-zoom-button /* zoom-level indicator (and animation!) that appears when zoom isn't 100% */
{
    display: none !important;
}

/* Hide the placeholder text ("Search with Google or enter address", for
 * example).
 */
#urlbar-input::placeholder {
    color: transparent !important;
}

/* Disable the ridiculous behavior where the URL bar expands when I've started
 * typing in it.
 *
 * Valid starting in version 152
 * Original source: https://github.com/WesleyBranton/Remove-Firefox-Megabar
 *   (but modified significantly since then)
 *
 * As of version 152, the URL doesn't expand until I start typing in it.
 * Earlier, it expanded as soon as it received focus.
 */

#urlbar[breakout][breakout-extend] {
    top: auto !important;
    width: var(--urlbar-width) !important;
    margin: 0 !important;
}
#urlbar[breakout][breakout-extend] > .urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: var(--urlbar-container-padding) !important;
}
#urlbar[breakout][breakout-extend] > .urlbar-background {
    animation-name: none !important;
}

/* Hide the entire dropdown containing auto-complete and search engine
 * suggestions.
 */
.urlbarView {
    display: none !important;
}

/* Make the background white again. They changed it to light gray sometime
 * around version 122.
 */
#urlbar-container .urlbar-background {
    background-color: rgb(255, 255, 255) !important;
}

/* Add a border to make it stand out a little better in my theme.
 */
#urlbar-container .urlbar-background {
    border: solid 1px rgb(224, 224, 224) !important;
}

/* Remove the box shadow that appears when it's focused.
 */
#urlbar-container .urlbar-background {
    box-shadow: none !important;
}

/* Remove the blue outline that appears when it's focused. I find it more
 * distracting than helpful.
 */
#urlbar-container .urlbar-background {
    outline: none !important;
}
